.footer{

  height: 138px;
  color: white;
  letter-spacing: .75px;
  background: rgb(19,7,70);
  background: linear-gradient(180deg, rgba(19,7,70,1) 0%, rgba(19,7,70,1) 29%, rgba(55,8,28,1) 100%);
}

.icon-bar{

  font-size: 200%;
  letter-spacing: 10px;

}

.mb-0{
  font-size: 90%;
}
