.footer{

  height: 478px;
  color: white;
 letter-spacing: .75px;
  background-image: linear-gradient(#130746, #130746), linear-gradient(to top, #37081c, #130746);
}

.icon-bar{

  font-size: 200%;
  letter-spacing: 10px;

}

.mb-0{
  font-size: 90%;
}
