.phone {

  /* position: relative;
  right: 20%; */

}


.Radically-Affordable-Healthcare {
  /* height: 136px; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 58px;
  line-height: 1.05;
  color: #63549d;
  margin-bottom: 3%;
}

.Radically-Affordable-Healthcare-mobile {
  /* height: 136px; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  line-height: 1.05;
  color: #63549d;
  margin-top: 10%;

}

.Join-the-global-community-thats-making-healthcare {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #222436;
}

.Join-the-global-community-thats-making-healthcare-mobile {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #222436;
}

.BitClaims-combines-direct-price-discovery-with-the {
    /* text-align: left; */

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7c7f8f;
  margin-top: 3%;
  margin-bottom: 2%;
}

.Rectangle-22 {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #937eea, #f1b9c3);
  border-image-slice: 1;
  width: 232.7px;
  height: 46px;
  border-radius: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

.hero-logo {
  position: relative;
  right: 23px;
  width: 77px;
  height: 77px;
  margin-bottom: 4%;
}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

.email {
  margin-bottom: 1%;
}

.mobileform{

margin-bottom: 5%;
}

.email input{
  border-left-style: none;
}

.github-discord {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px transparent;
  border-color: #b4a2fc;
  color: #7b69c3;
  height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 16px; */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
}

.signup-button {
  background-image: linear-gradient(rgba(147, 126, 234, 0.78), rgba(147, 126, 234, 0.78)), linear-gradient(to top, rgba(123, 105, 195, 0), #eab5be 88%);
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
    border-color: #b4a2fc;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

.Line {
  width: 100%;
  height: 0px;
  border: solid 1px #eeeff6;
  background-color: #eeeff6;
}

.test {
  height: 100%;
  /* border: 2px solid red; */
}

.supported {
  height: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--white);
  color: #7c7f8f;
  font-size: 16px;
}

.left-button{
  padding-right: 2px
}

.right-button{
  padding-left: 2px;
  padding-right: 0px;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ark-icon{
margin-left:10px;
  margin-right: 10px;
}

.input-icon{
  border-right-style: none;
  border: solid 1px transparent;
  border-color: #b4a2fc;
  background-color: white;
}

.fa-envelope{
  color:rgba(147, 126, 234, 0.78);
}

/* .nopadding {
   padding: 0 !important;
   margin: 0 !important;
} */

.github-discord:focus {
outline: none;
}

.icon-buttons{
  padding-left: 0px;
  padding-right: 0px;
}

.find-us-on-github{
  /* padding-left: 3%; */
  color:white;
  padding-right: 26px;

}

.tras:hover { --x: 100%; }


.gradient-border{
  background-image:  linear-gradient(141deg, rgba(168,153,230,1) 0%, rgba(234,181,190,1) 100%);
  border-radius: 4px;
  padding: 1px;
}

.email-container{
  height: 45px; margin-left: 0%; border: 1px solid
                    rgba(147, 126, 234, 0.78); border-radius: 4px;
}

.tras {
  flex: 1 1 auto;

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(141deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
 }

 #mce-EMAIL{
  height: 100%;
  border-style: none;
  font-size: 16px;
  color: rgba(147, 126, 234, 0.78);
 }

 ::placeholder {
   font-size: 16px;
   color: rgba(147, 126, 234, 0.78);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
color: rgba(147, 126, 234, 0.78);
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 16px;
color: rgba(147, 126, 234, 0.78);
}

 .email-input{
   height: 100%; background-color: white;
 }

.social-icon{
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #7b69c3;
    text-decoration: none;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.email-icon-container{
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 99 !important;
}

.whitepaper-form-button{
  height: 100%;
  background: rgb(168,153,230);
  background: linear-gradient(141deg, rgba(168,153,230,1) 0%, rgba(234,181,190,1) 100%);
  font-size: 16px; color:white; border-radius: 2px;
}

.whitepaper-form-container{
height: 100%;
padding-left: 0px;
padding-right: 0px;
}

.chimp-bot{
  position: absolute;
   left: -5000px;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
 input[type="datetime-local"], input[type="date"], input[type="month"],
  input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
   input[type="color"] { font-size: 16px; }
