.phone {

  /* position: relative;
  right: 20%; */

}

.Radically-Affordable-Healthcare {
  /* height: 136px; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 58px;
  line-height: 1.05;
  color: #63549d;
}

.Radically-Affordable-Healthcare-mobile {
  /* height: 136px; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  line-height: 1.05;
  color: #63549d;
}

.Join-the-global-community-thats-making-healthcare {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #222436;
}

.Join-the-global-community-thats-making-healthcare-mobile {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #222436;
}

.BitClaims-combines-direct-price-discovery-with-the {
    /* text-align: left; */

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7c7f8f;
  margin-top: 4%;
  margin-bottom: 4%;
}

.Rectangle-22 {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #937eea, #f1b9c3);
  border-image-slice: 1;
  width: 232.7px;
  height: 46px;
  border-radius: 40px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

.hero-logo {
  position: relative;
  right: 23px;
  width: 77px;
  height: 77px;
  margin-bottom: 4%;
}

.email {
  margin-bottom: 1%;
}

.mobileform{

margin-bottom: 5%;
}

.email input{
  border-left-style: none;
}

.github-discord {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px transparent;
  border-color: #b4a2fc;
  color: #7b69c3;
  height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  /* font-size: 16px; */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
}

.signup-button {
  background-image: linear-gradient(rgba(147, 126, 234, 0.78), rgba(147, 126, 234, 0.78)), linear-gradient(to top, rgba(123, 105, 195, 0), #eab5be 88%);
  color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
    border-color: #b4a2fc;
    border-radius: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

.Line {
  width: 100%;
  height: 0px;
  border: solid 1px #eeeff6;
  background-color: #eeeff6;
}

.test {
  height: 100%;
  /* border: 2px solid red; */
}

.supported {
  height: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--white);
  color: #7c7f8f;
  font-size: 16px;
}

.left-button{
  padding-right: 2px
}

.right-button{
  padding-left: 2px
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ark-icon{
margin-left:10px;
  margin-right: 10px;
}

.input-icon{
  border-right-style: none;
  border: solid 1px transparent;
  border-color: #b4a2fc;
  background-color: white;
}

.fa-envelope{
  color:rgba(147, 126, 234, 0.78);
}

/* .nopadding {
   padding: 0 !important;
   margin: 0 !important;
} */

.github-discord:focus {
outline: none;
}

.icon-buttons{
  padding-left: 0px;
  padding-right: 0px;
}

.find-us-on-github{
  /* padding-left: 3%; */
  padding-right: 26px;
}

.social-icon{
  padding-left: 12px;
  padding-right: 12px;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #7b69c3;
    text-decoration: none;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
