.job-block{
  width: 192px;
  height: 167px;
  border-radius: 4px;
  background-color: rgba(147, 126, 234, 0.78);
  margin: 0 auto;
  padding: 10px;
  background-image: linear-gradient(rgba(147, 126, 234, 0.78), rgba(147, 126, 234, 0.78)), linear-gradient(to top, rgba(123, 105, 195, 0), #eab5be 88%);
}


.job-block-text{
  width: 171px;
  height: 53px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
 
}

.Work-at-BitClaims {
    width: 288px;
    height: 47px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c6e;
  }

  .job-col{
margin-top:50px;

  }

  .job-arrow{
    margin-top: 20px;
    color: white;
  }

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing {
 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .Rectangle-25 {
   
    height: 46px;
    border-radius: 4px;
    background-image: linear-gradient(rgba(147, 126, 234, 0.78), rgba(147, 126, 234, 0.78)), linear-gradient(to top, rgba(123, 105, 195, 0), #eab5be 88%);
    background-image: linear-gradient(rgba(147, 126, 234, 0.78), rgba(147, 126, 234, 0.78)), linear-gradient(to top, var(--iris-0), var(--faded-pink) 88%);
    font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
 background-image:  linear-gradient(141deg, rgba(168,153,230,1) 0%, rgba(234,181,190,1) 100%);
  }