.market-fluid{
  background-color: #FAFAFA;
}


.Power-in-Numbers {

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #63549d;
  margin-bottom: 5%;
margin-top: 5%;
}

.At-18-percent-of-Americas-economy-and-growing-2-p {
  /* width: 492px;
  height: 63px; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: #7c7f8f;
}

.market-image{
  /* margin: 0 auto; */
  /* margin-right: 20% */
}


.pool-image{
  /* margin: 0 auto; */
  margin-right: 20%
}
