.brand-text{
font-family: IBMPlexSans;
font-size: 24px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #63549d;
}

.bitclaims-navbar{
background-color: #ffffff;
background-color: var(--white);
box-shadow: 0 1px 0 0 #d3d4de;

}

.bitclaims-navbar li{
  font-family: 'IBM Plex Sans', sans-serif;


font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #a8acb8;
}

.sign-up-button{
color:white;
font-family: 'IBM Plex Sans', sans-serif;
border-radius: 4px;
width: 120%;
background: rgb(168,153,230);
background: linear-gradient(141deg, rgba(168,153,230,1) 0%, rgba(234,181,190,1) 100%);
}

.navbar-brand{
font-family: 'IBM Plex Sans', sans-serif;

font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #63549d !important;
}

#brand-text{
  font-size: 24px;
  padding-top: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
}


.Radically-Affordable-Healthcare {


  color: #63549d;
}
.navbar-toggle {
  border: none;
  outline: none;
}

.navbar{
  background-color: white;
  margin-bottom: 20px;

}

/* .item{
  font-size: 18px;
  background-color: #f9fafb;
  color: #a8acb8;
  border-bottom: 1px solid #eeeff6;
} */

/* .item:hover {
  background-color: #000000;
  opacity:1;
 } */



.nav-text{
 margin-left: 13%;
}



/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
  .navbar-collapse.collapse {
    transition: height 0.2s;
  }
  .navbar-collapse.collapsing {
    height: 0 !important;
  }
  .navbar-collapse.collapse.in {
    max-height: none;
    height: 100vh;
  }
  .navbar-nav {
    height: 100%;
  }
  .bitclaims-navbar li {
    height: 13%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
  }
  .bitclaims-navbar li a {
    font-size: 18px;
    width: 100%;
  }
}
