.tablet-form {
  padding-bottom: 5% !important;
}

.tablet-top-form-container {
  background-image: linear-gradient(141deg, rgba(168, 153, 230, 1) 0%, rgba(234, 181, 190, 1) 100%);
  padding: 2px;
  border-radius: 4px;
  padding: 1px;
}

.tablet-form-container {
  height: 45px;
  width: 100%;
  margin-left: 0%;
  border: 1px solid rgba(147, 126, 234, 0.78);
  border-radius: 4px;
}

.tablet-email-icon {
  height: 100%;
  display: flex;
  align-items: center;
  width: 10%;
  background-color: white;
  z-index: 99 !important;
}

.tablet-email-text-field {
  height: 100%;
  width: 110%;
  border-style: none;
  color: rgba(147, 126, 234, 0.78);
}

.tablet-whitepaper-container {
  height: 100%;
  background: rgb(168, 153, 230);
  background: linear-gradient(141deg, rgba(168, 153, 230, 1) 0%, rgba(234, 181, 190, 1) 100%);
  width: 33%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tablet-whitepaper-button {
  margin-left: -20px;
  height: 100%;
  width: 100%;
  font-size: 90%;
  background-color: rgba(148, 126, 234, 0.000);
  text-align: center;
  color: white;
  margin-top: 5px !important;
}

.tablet-email-container {
  height: 100%;
  width: 57%;
  background-color: white;
}

.tablet-email-input {
  height: 100%;
  width: 110%;
  border-style: none;
  color: rgba(147, 126, 234, 0.78);
}

#mc_embed_signup .button {
  background-color: Transparent !important;
  background-repeat: no-repeat !important;
  border: none !important;
  cursor: pointer !important;
  overflow: hidden !important;
  outline: none !important;
}