<section>
  <div class="container-fluid market-fluid">

    <div class="spacer"></div>

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-push-6">
          <img src="img\i.blockchian.png">
          <div class="Power-in-Numbers">Blockchain</div>
          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
            At 18 percent of America’s economy and growing 2 percent faster than Gross Domestic Product, both the level and rate of growth of national health care spending are seen as alarming. =
          </div>
        </div>
  <div class="spacer hidden-lg hidden-md "></div>
        <div class="col-md-6 Aligner col-md-pull-6">
          <img class="market-image img-responsive" src="img\illustration.blockchain.png">
        </div>

      </div>


      <div class="spacer"></div>
    </div>
  </div>
</section>
