

<!-- Footer -->

<footer class="page-footer font-small unique-color-dark mt-4">


    <div class="footer">




      <div class="row align-items-center" style="margin-right: 0px; margin-left: 0px;">


        <div class="col-md-3 col-lg-2 text-center "  style= "margin-top: 2%;" >
          <h6  >© BitClaims 2018</h6>
        </div>


         <div class="col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0 "  style= "margin-top: 2%;" >
            <u><h6  class="mb-0" >Terms of Service</h6>
            </u>
          </div>


        <div class = "col-lg-5"></div>
        <div class="col-md-6 col-lg-3 text-center text-md-right icon-bar "  style= "margin-top: 2%;" >


          <a class="med-ic" >
            <i class="fab fa-medium  mr-4"style="color: white;"  ></i>
          </a>

          <a class="git-ic"href="https://github.com/bitclaims">
              <i class="fab fa-github mr-4"style="color: white;"></i>
            </a>

          <a class="twit-ic" >
              <i class="fab fa-twitter  mr-4"style="color: white;"></i>
            </a>

          <a class="dis-ic" href="https://discordapp.com/invite/jtZjJnd">
              <i class="fab fa-discord mr-4"style="color: white;"></i>
          </a>

        
        </div>


      </div>


    </div>







</footer>
<!-- Footer -->
