<section id="hero" class="hidden-sm hidden-xs">

  <div class="container">

    <div class="row row-eq-height  hidden-sm hidden-xs">

      <!-- Start of left side legend -->
      <div class="col-md-8">

        <img class="hero-logo" alt="BitClaims" src="img/i.bitclaims@3x.png" width="77" height="77">
        <div class="Radically-Affordable-Healthcare">Radically <br> Affordable Healthcare</div>
        <div class="Join-the-global-community-thats-making-healthcare"><b>Join the global community that's making Healthcare accessible to everyone</b></div>

        <div class="BitClaims-combines-direct-price-discovery-with-the hidden-sm hidden-xs">
          BitClaims combines direct price discovery with the power of blockchain <br> technology to bring you the most affordable healthcare of all time
        </div>


        <div class="row ">
          <!-- End of left side Hero-->
          <div class="col-md-8">

            <!-- <div class="input-group email">
              <span class="input-group-addon input-icon" id="basic-addon2"><i class="fas fa-envelope fa-2x"></i></span>
              <input type="text" class=" github-discord" aria-describedby="basic-addon2">
              <span class="input-group-addon signup-button" id="basic-addon2">SIGN UP</span>
            </div> -->

            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup" >
              <form action="https://BitClaims.us18.list-manage.com/subscribe/post?u=9695808bb95011a4c2652975b&amp;id=fe978a34da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>



                    <div class= "row" style= "height: 45px; margin-left: 0%; border: 1px solid
                    rgba(147, 126, 234, 0.78); border-radius: 4px;">
                        <div class = "col-md-1" style= " height: 100%; display: flex; align-items: center;" >
                            <i class="fas fa-envelope fa-2x" ></i>

                        </div>
                      <div class = "col-md-9" style= " height: 100%;">
                          <input type="email" style ="height: 100%; border-style: none; " value="" name="EMAIL" class="email"id="mce-EMAIL"  required>
                      </div>
                      <div class = "col-md-2" style= " height: 100%;padding-left: 0px;padding-right: 0px; " >
                          <input type="submit" value="SIGNUP" name="subscribe" id="mc-embedded-subscribe" style ="height: 100%; background-color:rgba(147, 126, 234, 0.78);font-size: 12px; color:white; " class="btn btn-block">
                          <!-- <input  type="submit"  value="SIGN UP" name="subscribe"> -->
                      </div>

                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9695808bb95011a4c2652975b_fe978a34da" tabindex="-1" value=""></div>


              </form>
            </div>

            <!--End mc_embed_signup-->

            <div class="row">
              <div class="col-md-6 nopadding left-button">

                <button type="button" class="btn github-discord  btn-block icon-buttons">

                    <i class="fab fa-github fa-2x social-icon"></i>

                        <span class="find-us-on-github"> <a style="color:#7b69c3" href="https://github.com/bitclaims" target="_blank">FIND US ON GITHUB</a></span>


                  </button>
              </div>

              <div class="col-md-6 nopadding right-button">
                <button type="button" class="btn  github-discord  btn-block icon-buttons">

                    <i class="fab fa-discord fa-2x social-icon"></i>

                    <span  class="find-us-on-github"> <a style="color:#7b69c3" href="https://discord.gg/4kkP5j" target="_blank"> JOIN US ON DISCORD</a></span>


                  </button>
              </div>

            </div>

          </div>

        </div>

      </div>
      <!-- End of left side Hero-->

      <!-- Start of right side Hero -->
      <div class="col-md-4 Aligner-item Aligner-item--bottom hidden-sm hidden-xs">
        <img class="phone img-responsive " src="img\croppedPhone.png" alt="dd">
      </div>
      <!-- End of right side Hero-->

    </div>


    <div class="spacer"></div>
    <!-- Start of Supported by ARK foundation Section -->
    <div class="row supported">

      <div class="col-md-4 test Aligner">
        <div class="Line hidden-sm hidden-xs"></div>
      </div>

      <div class="col-md-4 text-center test Aligner" class="supported-by-the-ark-foundation ">
        <img src="img\i.ark.png" class="ark-icon" alt=""> SUPPORTED BY ARK LABS
      </div>

      <div class="col-md-4 test Aligner">
        <div class="Line hidden-sm hidden-xs"></div>
      </div>

    </div>

    <div class="spacer"></div>
    <!-- End of Supported by ARK foundation Section -->

  </div>
</section>
