<section>
  <div class="container-fluid market-fluid">
    <div class="spacer"></div>

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-push-6">
          
          <img src="img\i.power-in-numbers@2x.png" style="width: 10%;">
          <div class="Power-in-Numbers">Power in Numbers</div>
          
        <div class="mobile-spacer hidden-md hidden-lg hidden-sm"></div>

          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
            Forming buyers clubs, associations and co-ops have been a fundamental part of efficiently forecasting and pricing services for centuries. It was a process that once dominated the healthcare landscape as well, and provided the means for an incentive structure that enabled the primary care provider to spend more time with the patient. With our app, users will be able to form their own buyers clubs, associations and co-ops to buy healthcare services upfront, in bulk, and at a discount.
          </div>

        </div>
          <div class="spacer hidden-lg hidden-md "></div>
        <div class="col-md-6 Aligner col-md-pull-6">
          <img class="pool-image img-responsive" src="img\illustration.pools@3x.png">
        </div>


      </div>
    </div>
      <div class="spacer"></div>
  </div>
</section>
