
<nav class="navbar navbar-default bitclaims-navbar hidden-sm hidden-xs navbar-fixed-top">
  <div class="container">

    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>





</script>
<!--End mc_embed_signup-->



      <a class="navbar-brand" href="">
        <img alt="BitClaims"  onclick="topFunction()"   src="img/bitclaims-logo.png" width="20" height="20">
      </a>
      <a id="brand-text" class="navbar-brand"  onclick="topFunction()"  href="">BitClaims</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a onclick="problem()">The Problem</a></li>
        <li><a onclick="solution()">The Solution</a></li>
        <li><a onclick="tech()">The Technology</a></li>
        <li><a onclick="time()">Timeline</a></li>
        <li><a onclick="team()">Team</a></li>
        <!-- <li><a href="#">timeline</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">blog</a></li> -->
        <!--<li><a target="_blank" href="BitClaims_WhitePaper_2.FINAL.pdf">whitepaper</a></li>-->
        
        <form class="navbar-form navbar-left">
          <button type="submit" class="btn btn-default sign-up-button" ><li><a target="_blank" href="BitClaims_WhitePaper_2.FINAL.pdf"  style="color: white;">White Paper</a></li></button>
        </form>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>




<nav class="navbar navbar-default bitclaims-navbar hidden-md hidden-lg navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobilenav">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand"  onclick="topFunction()" >
        <img alt="BitClaims" src="img/bitclaims-logo.png" width="20" height="20">
      </a>
      <a id="brand-text" class="navbar-brand" onclick="topFunction()">BitClaims</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mobilenav">
      <ul class="nav navbar-nav">
        <li class = "item" onclick="problemMobile()"><a href="#aboutlink"><span class ="nav-text">The Problem</span></a></li>
        <li class = "item" onclick="solutionMobile()"><a href="#timeline"><span class ="nav-text">The Solution</span></a></li>
        <li class = "item" onclick="techMobile()"><a href="#timeline"><span class ="nav-text">The Technology</span></a></li>
        <li class = "item" onclick="timeMobile()"><a href="#timeline"><span class ="nav-text">Timeline</span></a></li>
        <li class = "item" onclick="teamMobile()"><a href="#team"><span class ="nav-text">Team</span></a></li>
        <li class = "item" ><a target="_blank" href="BitClaims_WhitePaper_2.FINAL.pdf"><span class ="nav-text">Whitepaper</span></a></li>
        <!-- <li><a href="#">timeline</a></li> -->
      </ul>
      
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

