<nav class="navbar navbar-default bitclaims-navbar">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img alt="BitClaims" src="img/bitclaims-logo.png" width="20" height="20">
      </a>
      <a id="brand-text" class="navbar-brand" href="#">BitClaims</a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">about</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">timeline</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">blog</a></li>
        <li><a href="#">whitepaper</a></li>
        <form class="navbar-form navbar-left">
          <button type="submit" class="btn btn-default sign-up-button">sign up</button>
        </form>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
