<section>
  <div class="container-fluid patient-choice-fluid">
    <div class="spacer"></div>

    <div class="container">

      <div class="row">
        <div class="col-md-6">

          <img src="img\i.patient-choice@2x.png">

          <div class="Power-in-Numbers">
            Patient Choice
          </div>

          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
            Having a clear understanding of which provider you will see for which service and for what price sounds like a given, but for most folks receiving healthcare services today, this just isn't the case. With the BitClaims app users will know exactly which provider they are seeing, for what price, and on which terms, because the user selects that provider directly on our app.
          </div>

        </div>
          <div class="spacer hidden-lg hidden-md "></div>
        <div class="col-md-6 Aligner">
          <img class="market-image img-responsive" src="img\illustration.patient-choice.png">
        </div>



      </div>


      <div class="spacer"></div>
    </div>
  </div>
</section>
