<section id="mobilehero" class="hidden-md hidden-lg">

  <div class="container">


    <div class="row row-eq-height">

      <!-- Start of left side legend -->
      <div class="col-md-8">

        <!-- <img class="hero-logo" alt="BitClaims" src="img/i.bitclaims@3x.png" width="77" height="77"> -->
        <div class="Radically-Affordable-Healthcare-mobile">Radically Affordable Healthcare</div>
        <div class="mobile-spacer"></div>
        <div class="Join-the-global-community-thats-making-healthcare-mobile"><b>Join the global community that's making Healthcare accessible to everyone</b></div>

        <div class="BitClaims-combines-direct-price-discovery-with-the ">
          BitClaims combines direct price discovery with the power of blockchain technology to bring you the most affordable healthcare of all time
        </div>

        <img src="img\illustration.mercy-medical-card@3x.png" class="img-responsive mobileform">
        <!-- <div class="spacer"></div> -->
        <div class="row ">
          <!-- End of left side Hero-->
          <div class="col-md-8">

            <div class="input-group email mobileform">
              <span class="input-group-addon input-icon" id="basic-addon2"><i class="fas fa-envelope fa-2x"></i></span>
              <input style="border-radius: 0px;" type="text" class=" github-discord" aria-describedby="basic-addon2">
              <span class="input-group-addon signup-button" id="basic-addon2">SIGN UP</span>
            </div>

            <div class="row">
              <div class="col-md-6  mobileform ">

                <button type="button" class="btn github-discord  btn-block icon-buttons">
                    <i class="fab fa-github fa-2x social-icon"></i>
                        <span class="find-us-on-github">FIND US ON GITHUB</span>
                  </button>

              </div>

              <div class="col-md-6 email mobileform ">
                <button type="button" class="btn  github-discord  btn-block icon-buttons">
                    <i class="fab fa-discord fa-2x social-icon"></i>
                    <span class="find-us-on-github">  JOIN US ON DISCORD</span>
                  </button>
              </div>

              <!-- <div class="col-lg-6">
                <div class="input-group ">

                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>

              </div> -->

            </div>

          </div>

        </div>

      </div>
      <!-- End of left side Hero-->

      <!-- Start of right side Hero -->
      <div class="col-md-4 Aligner-item Aligner-item--bottom hidden-sm hidden-xs">
        <img class="phone img-responsive " src="img\croppedPhone.png" alt="dd">
      </div>
      <!-- End of right side Hero-->

    </div>


    <div class="mobile-spacer"></div>
    <!-- Start of Supported by ARK foundation Section -->
    <div class="row supported">

      <!-- <div class="col-sm-3 test Aligner alight-right">

      </div> -->

      <div class="col-sm-12 text-center test Aligner" class="supported-by-the-ark-foundation ">
        <img src="img\i.ark.png" class="ark-icon" alt=""> SUPPORTED BY ARK LABS
      </div>

      <!-- <div class="col-sm-3 test Aligner">
        <div class="Line hidden-sm hidden-xs"></div>
      </div> -->

    </div>

    <div class="spacer"></div>
    <!-- End of Supported by ARK foundation Section -->

  </div>
</section>
