<section id="mobilehero" class="hidden-md hidden-lg">

  <div class="container">


    <div class="row row-eq-height">

      <!-- Start of left side legend -->
      <div class="col-md-8">

        <img src="i.bitclaims@3x.png" class="img-responsive mobileform" style="width: 20%; margin-top: 15%; ">

        <!-- <img class="hero-logo" alt="BitClaims" src="img/i.bitclaims@3x.png" width="77" height="77"> -->
        <div class="Radically-Affordable-Healthcare-mobile">Radically Affordable Healthcare</div>
        <div class="mobile-spacer"></div>
        <div class="Join-the-global-community-thats-making-healthcare-mobile"><b>Join the global community that's making Healthcare accessible to everyone</b></div>

        <div class="BitClaims-combines-direct-price-discovery-with-the ">
          BitClaims combines direct price discovery with the power of blockchain technology to bring you the most affordable healthcare of all time
        </div>

        <!--<img src="img\illustration.mercy-medical-card@3x.png" class="img-responsive mobileform">-->
        <!-- <div class="spacer"></div> -->

        <div style="font-size: 14px; font-family: 'IBM Plex Sans', sans-serif;  color: #7c7f8f; margin-top: 10%;">
          ENTER EMAIL TO VIEW WHITEPAPER
        </div>
        <div class="row ">
          <!-- End of left side Hero-->
          <div class="col-md-8">

            <!-- <div class="input-group email mobileform">
              <span class="input-group-addon input-icon" id="basic-addon2"><i class="fas fa-envelope fa-2x"></i></span>
              <input style="border-radius: 0px;" type="text" class=" github-discord" aria-describedby="basic-addon2">
              <span class="input-group-addon signup-button" id="basic-addon2">SIGN UP</span>
            </div> -->

          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup" >
            <form style= "padding-bottom:0px; " action="https://BitClaims.us18.list-manage.com/subscribe/post?u=9695808bb95011a4c2652975b&amp;id=fe978a34da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="row" style= "height: 45px; width:100%;  margin-left: 0%; border: 1px solid rgba(147, 126, 234, 0.78); border-radius: 4px; ">

                <div class = "col-xs-1" style= " height: 100%;  display: flex; align-items: center; width: 10%;" >
                    <i class="fas fa-envelope fa-2x" ></i>
                </div>

                <div class = " col-xs-5" style= " height: 100%; width: 57%;">
                  <input type="text" onfocus="this.value=''" value="MARIE@CURIEL.COM"  style ="height: 100%; width: 110%; border-style: none; color: rgba(147, 126, 234, 0.78); "  name="EMAIL" class="email"id="mce-EMAIL" required>
                </div>

                <div class = "col-xs-4 " style= " height: 100%;background: rgb(168,153,230);
                background: linear-gradient(141deg, rgba(168,153,230,1) 0%, rgba(234,181,190,1) 100%);; width: 33%; " >
                  <!-- It's messed up on iphone5-->
                    <input type="submit"   value="WHITE PAPER" name="subscribe" id="mc-embedded-subscribe" style ="margin-left: -20px;height: 100%; width: 150%; font-size: 90%; background-color:rgba(148, 126, 234, 0.000); text-align: center;  color: white; " class="button">
                </div>
            <!--
                    <div class = "col-lg-2" style= " height: 100%; " >
                        <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" style ="height: 100%; width: 225%; background-color:rgba(147, 126, 234, 0.78); " class="button">
                    </div>

                  </div>-->



            </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9695808bb95011a4c2652975b_fe978a34da" tabindex="-1" value=""></div>


          </form>
        </div>

        <div id="mc_embed_signup" >
            <form action="https://BitClaims.us18.list-manage.com/subscribe/post?u=9695808bb95011a4c2652975b&amp;id=fe978a34da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>





                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9695808bb95011a4c2652975b_fe978a34da" tabindex="-1" value=""></div>


            </form>
          </div>


            <div class="row" >
              <div class="col-md-6  mobileform ">
                <button type="button" class="btn github-discord  btn-block icon-buttons">
                    <i class="fab fa-github fa-2x social-icon"></i>
                    <span class="find-us-on-github"> <a style="color:#7b69c3" href="https://github.com/bitclaims" target="_blank">FIND US ON GITHUB</a></span>
                  </button>

              </div>

              <div class="col-md-6 email mobileform ">
                <button type="button" class="btn github-discord  btn-block icon-buttons">
                    <i class="fab fa-discord fa-2x social-icon"></i>
                    <span  class="find-us-on-github"> <a style="color:#7b69c3" href="https://discord.gg/4kkP5j" target="_blank"> JOIN US ON DISCORD</a></span>
                  </button>
              </div>

              <!-- <div class="col-lg-6">
                <div class="input-group ">

                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>

              </div> -->

            </div>

          </div>

        </div>

      </div>
      <!-- End of left side Hero-->

      <!-- Start of right side Hero -->
      <div class="col-md-4 Aligner-item Aligner-item--bottom hidden-sm hidden-xs">
        <img class="phone img-responsive " src="img\croppedPhone.png" alt="dd">
      </div>
      <!-- End of right side Hero-->

    </div>


    <div class="mobile-spacer"></div>
    <!-- Start of Supported by ARK foundation Section -->
    <div class="row supported">

      <!-- <div class="col-sm-3 test Aligner alight-right">

      </div> -->

      <div class="col-sm-12 text-center test Aligner" class="supported-by-the-ark-foundation " style="margin-top: 10%; ">
        <img src="img\i.ark.png" class="ark-icon" alt=""> SUPPORTED BY ARK LABS
      </div>

      <!-- <div class="col-sm-3 test Aligner">
        <div class="Line hidden-sm hidden-xs"></div>
      </div> -->

    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
    <!-- End of Supported by ARK foundation Section -->

  </div>
</section>

<!-- Begin MailChimp Signup Form -->


<!--End mc_embed_signup-->
