<section>
  <div class="container-fluid">


    <div class="container">
      <div class="spacer"></div>

      <div class="spacer"></div>
      <div class="the-problem">THE TECHNOLOGY</div>
      <div class="row">

        <div class="col-md-6">


            <div class="spacer hidden-xs"></div>
            <div class="mobile-spacer hidden-md hidden-lg hidden-sm"></div>
          <div class="Healthcare-costs-are-out-of-control">Secure transactions, Direct Payments</div>
          <div class="spacer hidden-xs"></div>
        <div class="mobile-spacer hidden-md hidden-lg hidden-sm"></div>

          <img src="img\i.smart-contract@2x.png" style="width: 10%;">

          <div class="Unsustainable-Pricing">
            Smart Contracts
          </div>

          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
           In the current healthcare environment, most do not know the terms of the deal and more often than not one centralized party can dictate those terms and change them at will. By utilizing smart contracts, there is a mathematical proof that the money for a healthcare transaction stays where it's supposed to, and the terms are hard coded so no one party can decide to change them at will. This is a revolutionary step so that patients know they are getting the care they pay for, and providers know when they are getting paid and for how much.
          </div>
        </div>

        <div class="col-md-6">
          <div class="spacer"></div>
          <img src="img\illustration.smart-contract@3x.png" class="img-responsive center-block main-section-image" alt="" style="width:60%;">
        </div>

      </div>


      <div class="spacer"></div>
    </div>

  </div>
</section>
