<section id="aboutlink">
  <div class="container-fluid The-problem-fullwidth" style="background: #130746;">


    <div class="container">
      <div class="spacer"></div>
      <div class="the-problem" style="color: white;" >THE PROBLEM</div>
      <div class="row">
        <div class="spacer hidden-xs"></div>
        <div class="mobile-spacer hidden-md hidden-lg hidden-sm"></div>
        <div class="col-md-6">
          <div class="Healthcare-costs-are-out-of-control" style="color: white;">Healthcare Costs are out of Control</div>
          <div class="spacer hidden-xs"></div>
          <div class="mobile-spacer hidden-md hidden-lg hidden-sm"></div>
          <img src="img\i.unsustainable-pricing@3x.png" width="34">
          <div class="Unsustainable-Pricing" style="color: #fc1139;">Unsustainable Pricing </div>
          <div class="At-18-percent-of-Americas-economy-and-growing-2-p" style="color: white;">
            At 18 percent of America’s economy and growing 2 percent faster than Gross Domestic Product, both the level and rate of growth of national healthcare spending are seen as alarming. While this isn’t a new problem, the amount of spending on healthcare,
            combined with the country’s fiscal challenges, makes the need to contain healthcare costs a national priority.
          </div>
        </div>
          <div class="spacer hidden-lg hidden-md "></div>
        <div class="col-md-6">
          <img class="img-responsive graph img-responsive hidden-sm " src="illustration-graph-mobile@3x.png" alt="">
          <img class="img-responsive graph img-responsive hidden-lg hidden-md hidden-xs" src="illustration-graph-desktop@3x.png" alt="">
        </div>
      </div>

      <div class="spacer"></div>

    </div>

    <div class="spacer"></div>

  </div>
</section>
