<section>
  <div class="container-fluid The-problem-fullwidth">


    <div class="container">
      <div class="spacer"></div>
      <div class="the-problem">THE PROBLEM</div>
      <div class="row">
        <div class="spacer"></div>
        <div class="col-md-6">
          <div class="Healthcare-costs-are-out-of-control">Healthcare costs are out of control</div>
          <div class="spacer"></div>
          <img src="img\i.unsustainable-pricing@3x.png" width="34">
          <div class="Unsustainable-Pricing">Unsustainable Pricing </div>
          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
            At 18 percent of America’s economy and growing 2 percent faster than Gross Domestic Product, both the level and rate of growth of national health care spending are seen as alarming. While this isn’t a new problem, the amount of spending on health care,
            combined with the country’s fiscal challenges, makes the need to contain health care costs a national priority
          </div>
        </div>
          <div class="spacer hidden-lg hidden-md "></div>
        <div class="col-md-6">
          <img class="img-responsive graph img-responsive hidden-sm " src="img\i.graph@3x.png" alt="">
          <img class="img-responsive graph img-responsive hidden-lg hidden-md hidden-xs" src="img\i.graph.png" alt="">
        </div>
      </div>

      <div class="spacer"></div>

    </div>

    <div class="spacer"></div>

  </div>
</section>
