<section>
  <div class="container-fluid">


    <div class="container">
        <div class="spacer"></div>
        <div class="the-problem">THE SOLUTION</div>
      <div class="row">

        <div class="col-md-7">
          <div class="spacer"></div>
          <div class="Healthcare-costs-are-out-of-control">Reimagining the marketplace</div>
          <div class="spacer"></div>
          <img src="img\i.price-transparency@3x.png" width="34">
          <div class="Unsustainable-Pricing">Price Transparency = Competition = Better healthcare at a lower cost 
          </div>
          <div class="At-18-percent-of-Americas-economy-and-growing-2-p" >
            We are partnering directly with healthcare service providers to list service pricing and terms upfront on our app. Users are able to select which services they would like, and directly connect to the corresponding provider. With our process in place, the user and the provider knows all the terms of servicing and everyone walks away happy.

          </div>
        </div>

        <div class="col-md-5">
          <div class="spacer"></div>
          <img src="img\Illustration.transparency.png" class="img-responsive center-block main-section-image" alt="">
        </div>

      </div>


      <div class="spacer"></div>
    </div>

  </div>
</section>
