<section>
  <div class="container-fluid">


    <div class="container">
        <div class="spacer"></div>
        <div class="the-problem">THE SOLUTION</div>
      <div class="row">

        <div class="col-md-7">
          <div class="spacer"></div>
          <div class="Healthcare-costs-are-out-of-control">Reimagining the marketplace</div>
          <div class="spacer"></div>
          <img src="img\i.price-transparency@3x.png" width="34">
          <div class="Unsustainable-Pricing">Price transparency</div>
          <div class="At-18-percent-of-Americas-economy-and-growing-2-p">
            At 18 percent of America’s economy and growing 2 percent faster than Gross Domestic Product, both the level and rate of growth of national health care spending are seen as alarming. =
          </div>
        </div>

        <div class="col-md-5">
          <div class="spacer"></div>
          <img src="img\Illustration.transparency.png" class="img-responsive center-block main-section-image" alt="">
        </div>

      </div>


      <div class="spacer"></div>
    </div>

  </div>
</section>
