<section>
  <div class="container-fluid">
    <div class="container">
      <div class="spacer"></div>
      <div class="Line"></div>
      <div class="spacer"></div>
      <div class="row row-eq-height">

        <div class="Development-timeline">
          Development timeline
        </div>

      </div>
      <div class="spacer"></div>
    </div>

  </div>
  <div class="container-fluid timeline-background">

    <div class="spacer"></div>

    <div class="spacer"></div>
    <div class="row row-eq-height">

      <div class="col-md-4">

      </div>

      <div class="col-md-4">

      </div>

      <div class="col-md-4">

      </div>


    </div>
    <div class="spacer"></div>


  </div>
</section>
