<section id="timeline">


  <div class="container">
    <div class="spacer"></div>
    <div class="Line"></div>

    <div class="spacer"></div>


    <div class="Development-timeline">Development Timeline</div>

    <div class="spacer"></div>
  </div>


  <div class="timeline-background ">
    <div class="spacer"></div>
    <div class="spacer"></div>

    <flickity options='{"pageDots":false,"selectedAttraction":0.01,"friction":0.15}'>
      <flickity-slide>
        <div class="flickity-card">
          <div class="timeline-card-header">Performance Optimization</div>
          <div class="timeline-card-content">
            Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard BitClaims existing clients into
            decentralized structure. Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard
            BitClaims existing clients into decentralized structure.
          </div>
        </div>
        <div class="timeline-graphic">
          <div class="row timeline-row">
            <div class="timeline-line timeline-line-right"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </flickity-slide>

      <flickity-slide>
        <div class="flickity-card">
          <div class="timeline-card-header">Performance Optimization</div>
          <div class="timeline-card-content">
            Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard BitClaims existing clients into
            decentralized structure. Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard
            BitClaims existing clients into decentralized structure.
          </div>
        </div>
        <div class="timeline-graphic">
          <div class="row timeline-row center-block  ">
            <div class="timeline-line timeline-line-center "></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </flickity-slide>
      <flickity-slide>
        <div class="flickity-card">
          <div class="timeline-card-header">Performance Optimization</div>
          <div class="timeline-card-content">
            Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard BitClaims existing clients into
            decentralized structure. Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard
            BitClaims existing clients into decentralized structure.
          </div>
        </div>
        <div class="timeline-graphic">
          <div class="row timeline-row center-block  ">
            <div class="timeline-line timeline-line-center "></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </flickity-slide>
      <flickity-slide>
        <div class="flickity-card">
          <div class="timeline-card-header">Performance Optimization</div>
          <div class="timeline-card-content">
            Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard BitClaims existing clients into
            decentralized structure. Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard
            BitClaims existing clients into decentralized structure.
          </div>
        </div>
        <div class="timeline-graphic">
          <div class="row timeline-row center-block  ">
            <div class="timeline-line timeline-line-center "></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </flickity-slide>

      <flickity-slide>
        <div class="flickity-card">
          <div class="timeline-card-header">Performance Optimization</div>
          <div class="timeline-card-content">
            Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard BitClaims existing clients into
            decentralized structure. Launch BitClaim testing network. Optimize performance for liquidity on exchanges. Onboard
            BitClaims existing clients into decentralized structure.
          </div>
        </div>
        <div class="timeline-graphic">
          <div class="row timeline-row">
            <div class="timeline-line timeline-line-left"></div>
            <div class="dot"></div>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </flickity-slide>
    </flickity>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

</section>