<div ng-include="'partials/hero.html'"></div>

<div ng-include="'partials/tablethero.html'"></div>

<div ng-include="'partials/theProblem.html'"></div>

<div ng-include="'partials/theSolution.html'"></div>

<div ng-include="'partials/marketplace.html'"></div>

<div ng-include="'partials/patientChoice.html'"></div>

<div ng-include="'partials/pricePressure.html'"></div>

<div ng-include="'partials/technology.html'"></div>

<!-- <div ng-include="'partials/blockchain.html'"></div> -->

<!-- <div ng-include="'partials/timeline.html'"></div> -->

<div ng-include="'partials/meetTheTeam.html'"></div>

<div ng-include="'partials/footer.html'"></div>